@model smb_om.Model.OrderInformation
@{
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<body>
    <div id="content-body">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td class="stroke" height="1" width="1"></td>
                <td align="center">
                    @*<div class="application" style="WORD-BREAK: break-all;">
                        <h1>Order</h1>

                    </div>*@
                </td>
            </tr>
            </table>
        </div>

</body>